@page "/register"
@using BlazingBlog.Application.Users.RegisterUser
@inject ISender Sender
@inject NavigationManager NavigationManager

<PageTitle>Register</PageTitle>

<div class="space-y-6">
    <h2 class="text-3xl font-extrabold text-gray-900">Register</h2>


    <EditForm Model="UserModel" OnValidSubmit="HandleSubmit" FormName="RegisterUserForm" class="space-y-6 my-4">
        <DataAnnotationsValidator />
        <div>
            <label for="name" class="text-sm">Username</label>
            <InputText id="name" class="w-full p-3 rounded border-gray-400 border-1 shadow" @bind-Value="UserModel.UserName" />
            <ValidationMessage For="() => UserModel.UserName" class="text-danger" />
        </div>
        <div>
            <label for="email" class="text-sm">Email</label>
            <InputText id="email" class="w-full p-3 rounded border-gray-400 border-1 shadow" @bind-Value="UserModel.Email" />
            <ValidationMessage For="() => UserModel.Email" class="text-danger" />
        </div>
        <div>
            <label for="password" class="text-sm">Password</label>
            <InputText type="password" id="password" class="w-full p-3 rounded border-gray-400 border-1 shadow" @bind-Value="UserModel.Password" />
            <ValidationMessage For="() => UserModel.Password" class="text-danger" />
        </div>
        <div>
            <label for="confirmPassword" class="text-sm">Confirm Password</label>
            <InputText type="password" id="confirmPassword" class="w-full p-3 rounded border-gray-400 border-1 shadow" @bind-Value="UserModel.ConfirmPassword" />
            <ValidationMessage For="() => UserModel.ConfirmPassword" class="text-danger" />
        </div>
        <button type="submit" class="w-full p-3 text-sm font-bold uppercase rounded bg-blue-400 text-gray-900">Submit</button>
    </EditForm>

    <span class="text-danger">@errorMessage</span>

</div>

@code {
    [SupplyParameterFromForm]
    private RegisterUserModel UserModel { get; set; } = new();
    private string errorMessage = string.Empty;

    async Task HandleSubmit()
    {
        var command = new RegisterUserCommand
        {
            UserName = UserModel.UserName,
            Email = UserModel.Email,
            Password = UserModel.Password,

        };

        var result = await Sender.Send(command);
        if (result.Success)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            errorMessage = result.Error ?? "Registration failed";
        }
       
    }
}
